*{
	margin:0;
	padding: 0;
}
#num{
	width:200px;
}
#num,button{
	margin-left: 10px;
	margin-top: 10px;
	height:25px;
}
#ul1{
	
	width:100%;
	margin-left: 10px;
	margin-top: 10px;
}
#leftout{
	margin-left: 100px;
}
li{
	
  	line-height: 50px;
 	/*height:50px;*/
 	width:25px;
 	list-style: none;
 	text-align: center;
 	float: left;
 	margin-left: 3px;
 	margin-bottom:5px;
}
#out{
   position:relative;
   height:100px;
}
#gaodu{
	position:absolute;
	bottom:0;
	background-color: red;
	width:25px;
}
